<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" charset="utf8">
		<link rel="stylesheet" href="assets/screen.css" type="text/less"/>
		<link rel="stylesheet" href="assets/jquery.FloatLabel.css" type="text/less"/>
		<script src="assets/jquery-2.0.3.min.js" type="text/javascript"></script>
		<script src="assets/jquery.FloatLabel.js" type="text/javascript"></script>
		<script src="assets/jquery.FloatOption.js" type="text/javascript"></script>
		<script src="assets/fastclick.js" type="text/javascript"></script>
		<script src="assets/all.js" type="text/javascript"></script>
	</head>

	<body>
		<form class="form-wrapper">
			<p>尊敬的用户尊敬的用户尊敬的用户尊敬的用户尊敬的用户尊敬的用户尊敬的用户</p>
			<!-- add class "error" on wrappers to mark error input -->
			<div class="js-float-label-wrapper">
				<label for="name">您的名字</label>
				<input id="form-name" type="text" spellcheck="false"></input>
			</div>

			<div class="js-float-label-wrapper">
				<label class="float-lable" for="sn">设备序列号</label>
				<input id="form-sn" type="text" spellcheck="false"></input>
			</div>

			<div class="js-float-label-wrapper">
				<label class="float-lable" for="email">您的邮箱</label>
				<input id="form-email" type="text" spellcheck="false"></input>
			</div>

			<div class="js-float-option-wrapper">
				<label class="float-label" for="reason">原因</label>
				<select id="form-reason">
					<option value="" disabled selected style="display:none;">请选择</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</div>

			<div class="js-float-label-wrapper">
				<label class="float-lable" for="comment">留言</label>
				<input id="form-email" type="text" spellcheck="false"></input>
			</div>

			<input id="send" type="submit" value="发出" />
		</form>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '53cf4afee32bb419b1000b92');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
	</body>
</html>
